// kolor obj wyjąć w klasę do typography

.article {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;


    &__text-col {
        width: 58%;
        padding: 5px;
        background: none;
    }

    // sprawdzić czy height można dać inaczej

    &__img-col {
        margin-top: 15vh;
        position: relative;
        width: 40%;
        height: 500px;
    }

    &__img {
        position: relative;
        max-width: 90%;
        // top: -35%;
        right: -30%;


    }

    &__big-obj {
        position: absolute;
        top: 40%;
        right: -40%;
        width: 50%;
        height: 50%;
        background-color: #ddd;
        z-index: -2;
    }

    &__item {
        margin: 30px 0;
    }

    &__small-obj {
        position: absolute;
        top: -10%;
        left: 20%;
        width: 35%;
        height: 50%;
        background-color: $secondBgColor;
        z-index: -2;

    }

    &-p {
        padding: 12px 0;
        ;
    }

    &__title {
        margin-top: 20vh;
        text-align: center;
    }
}


@media (max-width: 1000px) {
    .article {
        flex-direction: column;
        align-items: center;


        &__text-col {
            width: 90%;
        }

        &__img-col {
            width: 80%;
        }

        &__img {
            top: 0;
            right: 0;
        }

        &__big-obj {
            top: 40%;
            right: -10%;
        }

        &__small-obj {
            left: -10%;
        }

        &__title {
            font-size: calc-em(52px);
        }
    }

    // .details__img--col {
    //     position: static;
    //     display: block;
    //     width: 90%
    // }
}

@media (max-width: 600px) {
    .article__title {
        font-size: calc-em(32px);
    }
}


.article-contact {
    display: flex;
    position: absolute;
    bottom: 15%;
    left: 0;
    width: 100%;
    min-height: 75px;
    justify-content: space-around;

    &__box {
        display: flex;
        flex-direction: row;
        width: 30%;
        max-width: 250px;
        min-height: 75px;

        &-img {
            width: 75px;
            height: 75px;
            text-align: center;
            line-height: 75px;
        }

        &-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &-number {
            display: flex;
            flex-wrap: wrap;
            font-size: calc-em(21px);
            font-weight: 700;
        }

        &-text {
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            opacity: .7;
        }


    }
}

@media (max-width: 800px) {
    .article-contact {
        flex-direction: column;
        align-items: center;

        &__box {
            width: 90%;
        }
    }
}




.article-revers {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin: 20vh 0;

    &__text-col {
        width: 58%;
        padding: 5px;
        order: 1;
    }

    // sprawdzić czy height można dać inaczej

    &__img-col {
        margin-top: 15vh;
        position: relative;
        width: 40%;
        height: 500px;
    }

    &__img {
        position: relative;
        max-width: 90%;
        // top: -35%;
        right: 25%;


    }

    &__big-obj {
        position: absolute;
        top: 15%;
        right: 0;
        width: 60%;
        height: 70%;
        background-color: #ffae00;
        z-index: -2;

    }

    &__item {
        margin: 30px 0;
    }

    &__small-obj {
        position: absolute;
        top: -10%;
        left: -32%;
        width: 35%;
        height: 50%;
        background-color: $secondBgColor;
        z-index: -2;

    }
}

@media (max-width: 1250px) {
    .article-revers {
        &__text-col {
            width: 50%;
        }
    }
}

@media (max-width: 1100px) {
    .article-revers {
        &__img {
            transform: scale(.9);
        }
    }
}


@media (max-width: 1000px) {
    .article-revers {
        flex-direction: column;
        align-items: center;

        &__text-col {
            width: 90%;
            order: 0;
        }

        &__img {
            top: 0;
        }

        &__big-obj {
            top: 20%;
            right: -40%;
        }
    }
}