.city-banner {
    background-image: url(/img/gdansk.jpg);
    background-position: center;
    background-size: cover;

    &__title {
        color: $thirdColor;
    }
}


.city-banner {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 500px;
    }

    &__menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        // &-item {}

        &-p {
            padding: 25px;
        }
    }
}

.companies-banner {
    background-image: url(/img/companies-banner.jpg);
    background-position: center;
    background-size: cover;

    &__title {
        color: $thirdColor;
        margin-top: 80px;
    }

    &-p {
        text-align: center;
        color: $thirdColor;
    }
}

.companies-banner {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        min-height: 500px;
    }

    &__menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        // &-item {}

        &-p {
            padding: 25px;
        }
    }
}

.offer-banner {
    background-image: url(/img/offer-banner.jpg);
    background-position: center;
    background-size: cover;

    &__title {
        color: $thirdColor;
        margin-top: 80px;
    }

    &-p {
        text-align: center;
        color: $thirdColor;
    }
}

.offer-banner {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        min-height: 500px;
    }

    &__menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        // &-item {}

        &-p {
            padding: 25px;
        }
    }
}

.blog-banner {
    background-image: url(/img/offer-banner.jpg);
    background-position: center;
    background-size: cover;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        min-height: 500px;
    }
}

.price-banner {
    background-image: url(/img/price-banner.jpg);
    background-position: center;
    background-size: cover;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        min-height: 500px;
    }
}


.advice-banner {
    background-image: url(/img/advice-banner.jpg);
    background-position: center;
    background-size: cover;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        min-height: 500px;
    }
}

.contact-banner {
    height: 50vh;
}