.cities {
    @include frame;

    &__container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        max-height: 100vh;
    }

    &__title {
        flex-basis: 10vh;
        text-align: center;
        line-height: 10vh;
        padding-bottom: 40px;
    }

    &__list {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: flex-start;
    }

    &__item {
        display: block;
        width: 100%;
        flex-basis: 21%;
        // text-align: left;
    }

    &__text {
        color: $secondColor;
        @include footer;
    }

}

@media (max-width: 1150px) {
    .cities {
        padding: 100px 0 80px 0;

        &__item {
            flex-basis: 45%;
        }
    }
}

@media (max-width: 600px) {
    .cities {
        &__h1 {
            flex-basis: 5vh;
            line-height: 5vh;
            // font-size: 1.5em;
        }

        &__item {
            flex-basis: 51%;
        }


    }
}