.details {
    position: relative;

    &__title {
        width: 55%;
        font-size: calc-em(64px);
    }

    &__list {
        all: unset;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 50%;
    }

    &__list-item {
        display: flex;
        position: relative;
        flex-basis: 45%;
        font-size: calc-em(16px);
        line-height: 1.5;
    }

    &__serv {
        display: block;
        width: 55%;
        padding-bottom: 60px;
    }

    &__img {
        position: absolute;
        top: 20%;
        right: 0;
        transform: scale(.8);
    }

}

.oval {
    margin-right: 20px;
}