.footer {
    border: 1px solid #f5f5f9;
    padding-top: 40px;
}

.beti {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 100vh;
    text-align: center;

    &__list {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
    }

    &__item {
        display: block;
        width: 100%;
        flex-basis: 21%;
        font-size: calc-em(14px);
    }

    &__logo {
        font-size: calc-em(18px);
    }
}

@media (max-width: 1150px) {
    .beti {
        &__item {
            flex-basis: 45%;
        }

        &__third {
            order: 1;
        }
    }
}

@media (max-width: 600px) {
    .beti {
        &__h1 {
            flex-basis: 5vh;
            line-height: 5vh;
            font-size: 1.5em;
        }

        &__item {
            flex-basis: 80%;
        }

        &__third {
            order: 0;
        }

        &__perish {
            display: none;
        }
    }
}