// style footera do połączenia z cities

.footer {
    @include frame;
    max-height: 100vh;
    text-align: center;

    &__list {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
    }

    &__item {
        display: block;
        width: 100%;
        flex-basis: 21%;
        text-align: left;
    }

    &__text {
        @include footer;

        &-fat {
            font-weight: 700;
        }
    }

    &__img {
        padding-bottom: 20px;
    }
}

@media (max-width: 1150px) {
    .footer {
        &__item {
            flex-basis: 45%;
        }

        &__third {
            order: 1;
        }
    }
}

@media (max-width: 600px) {
    .footer {


        &__item {
            flex-basis: 51%;

        }

        &__third {
            order: 0;
        }

        &__perish {
            display: none;
        }
    }
}