// Focus na inpucie zdjąć ramkę

// Zrobić funkcję dla wielkości fonta h1

.hero {
    display: relative;
    width: 100%;
    min-height: 740px;

    &__paragraph {
        margin-top: 32px;
        text-align: center;
    }

    &__form {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 1350px) {
    .hero {
        &__title {
            font-size: calc-em(42px);
        }
    }
}

@media (max-width: 1180px) {
    .hero {
        &__title {
            font-size: calc-em(38px);
        }
    }
}

@media (max-width: 1070px) {
    .hero {
        &__title {
            font-size: calc-em(34px);
        }
    }
}

@media (max-width: 800px) {
    .hero {
        &__title {
            margin-top: 5%;
        }

        &__form {
            flex-direction: column;
            align-items: center;
        }
    }

    .form {
        &__row {
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 630px) {
    .hero {
        &__title {
            width: 90%;
            font-size: calc-em(26px);
        }

        &__paragraph {
            font-size: calc-em(14px);
        }
    }
}

@media (max-width: 500px) {
    .hero {
        &__title {
            font-size: calc-em(20px);
        }
    }

}