.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: stretch;

    &__item {
        display: flex;
        justify-content: flex-start;
    }

}

@media (max-width: 1000px) {
    .list {
        height: 300px;
    }
}

@media (max-width: 650px) {
    .list {
        height: 500px;
    }
}


.list-small {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    align-items: stretch;

    &__item {
        display: flex;
        justify-content: flex-start;
    }

}

@media (max-width: 1000px) {
    .list-small {
        height: 200px;
    }
}

@media (max-width: 650px) {
    .list-small {
        height: 300px;
    }
}