.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: stretch;

    &__item {
        display: flex;
        justify-content: flex-start;
    }

}

@media (max-width: 1000px) {
    .list {
        height: 300px;
    }
}

@media (max-width: 650px) {
    .list {
        height: 500px;
    }
}


.list-small {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: stretch;

    &__item {
        display: flex;
        justify-content: flex-start;
    }

    &__title {
        margin: 20px 0;
    }

}

@media (max-width: 1000px) {
    .list-small {
        height: 300px;
    }
}

@media (max-width: 650px) {
    .list-small {
        height: 600px;
    }
}

.contact {

    display: flex;
    align-items: center;




    &__item {

        margin-right: 40px;

    }

    &__white {
        position: absolute;
        bottom: 15%;
        left: 8%;
    }

    &__list {
        justify-content: center;
    }

    &__column {
        width: 28%;
        ;
    }


}

.container-bcg {
    background-color: #ddd;
}

.space {
    display: block;
    width: 100%;
    height: 500px;
}

.new {
    &__list {
        display: flex;
        justify-content: space-between;
        width: 80%;
    }

    &__column {
        display: flex;
    }

    &__item {
        max-width: 500px;
    }

    &__mobile--logo {
        display: block;
        width: 75px;
        height: 75px;

    }
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.cadetblue {
    background-color: cadetblue;
}

.red {
    background-color: red;
}

.tan {
    background-color: tan;
}