// .main-info {
//     width: 100%;
//     height: 917px;
//     background-color: $secBgColor;

//     &__desc {
//         position: absolute;
//         width: 50%;
//         height: 456px;
//         padding: 5%;
//     }

//     &__container {
//         margin: 0;
//         position: relative;
//         top: -30%;
//         left: 50%;
//         transform: translateX(-50%);
//         width: $big-width;
//         height: 740px;
//         border: 1px solid rgba(148, 151, 192, 0.2);
//         background-color: $primaryBgColor;
//     }

//     &__title {
//         margin-bottom: 16px;
//         font-size: calc-em(36px);
//     }

//     &__paragraph {
//         margin-top: 10px;
//         text-align: left;
//     }

//     &__pictrue {
//         position: absolute;
//         top: -16%;
//         left: 60%;
//         z-index: -1;
//     }

//     &__shadow {
//         position: absolute;
//         top: 5%;
//         right: -10%;
//         width: 310px;
//         height: 380px;
//         background-color: #ffae00;
//         z-index: -2;
//     }

//     &__contact {
//         display: flex;
//         position: absolute;
//         bottom: 15%;
//         left: 0;
//         width: 100%;
//         height: 75px;
//         justify-content: space-around;
//     }

//     &__box {
//         display: flex;
//         flex-direction: row;
//         width: 30%;
//         max-width: 250px;
//         height: 75px;

//         &-img {
//             width: 75px;
//             height: 75px;
//             text-align: center;
//             line-height: 75px;
//         }

//         &-item {
//             display: flex;
//             flex-direction: column;
//             justify-content: center;
//         }

//         &-number {
//             display: flex;
//             flex-wrap: wrap;
//             font-size: calc-em(21px);
//             font-weight: 700;
//         }

//         &-text {
//             display: flex;
//             flex-wrap: wrap;
//             margin: 0;
//             opacity: .7;
//         }

//     }

//     


// }


// NEW

.main-info {
    position: relative;
    width: 100%;
    height: 917px;
    background-color: $secondBgColor;


    &__container {
        margin: 0;
        padding: 0 0 40px 60px;
        position: relative;
        top: -30%;
        left: 50%;
        transform: translateX(-50%);
        width: $big-width;
        height: 740px;
        border: 1px solid rgba(148, 151, 192, 0.2);
        background-color: $firstBgColor;
    }

    &-inside {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
    }

    &__text-col {
        width: 45%;
        padding: 5px;

        &-revers {
            order: 1;
        }
    }

    &__img-col {
        position: relative;
        width: 45%;
        height: 500px;
    }

    &__img {
        position: relative;
        top: -32%;
        left: 0;
    }

    &__big-obj {
        position: absolute;
        top: 20%;
        right: -8%;
        width: 50%;
        height: 70%;
        background-color: #ffae00;
        z-index: -2;
    }

    &__slogan {
        position: relative;
        margin: 0;
        bottom: 20%;
        left: 50%;
        width: $big-width;
        transform: translateX(-50%);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        &-box {
            display: inline-flex;
            flex-direction: column;
            width: 100%;
            margin-right: 7%;
        }

        &-logo {
            width: 50px;
        }
    }

}

@media (max-width: 1000px) {
    .main-info {
        &-inside {
            flex-direction: column;
        }

        &__text-col {
            width: 90%;
        }

        &__img-col {
            width: 90%;
        }

        &__img {
            top: 0;
        }

        &__big-obj {
            top: 20%;
            right: 10%;
        }
    }
}