.oval {
    display: flex;
    align-items: flex-start;

    &__item {
        display: block;
        width: 20px;
        height: 20px;
        margin: .7rem 20px 0 0;
        background-repeat: no-repeat;
    }

    &-white {
        background-image: url(/img/oval-white.svg);
    }

    &-blue {
        background-image: url(/img/oval-blue.svg);
    }
}