// PART I

// STYLE RESET

body {
    @include body-reset;
    font-size: calc-em(16px);
    font-weight: 400;
    font-family: $firstFont;
    line-height: $baseLineHeight;
    color: $firstColor;
}

// PART II

// POSITION STYLES

// section

.section {
    width: 100%;
}

// container

.container {
    max-width: $big-width;
    margin: 0 auto;
}

@media (max-width: 900px) {
    .container {
        max-width: 100%;
    }
}


// PART III

// TEXT STYLES

// text
// from body
// font-size: 16px
// font-weight: 400;
// font-family: $primaryFont;
// line-height: 24px;
// color: #262626;

// .text {
//     &__small {
//         font-size: calc-em(14px);
//     }
// }

.paragraph {


    &__f-size {
        &-l {
            font-size: calc-em(18px);
        }

        &-s {
            font-size: calc-em(14px);

        }
    }

    &__l-height {
        &-xl {
            line-height: 48px;
        }

        &-l {
            line-height: 27px;
        }

    }

    &__title {
        font-weight: 700;
    }




}

strong {
    font-size: calc-em(18px);
}


// Titles

.title {
    font-weight: 700;

    &__h1 {
        width: 80%;
        margin: 0 auto;
        font-size: calc-em(48px);
        font-weight: 700;
        text-align: center;
        line-height: 1.2;
    }

    &__h2 {
        font-size: calc-em(72px);
        line-height: 78px;
    }

    &__h3 {
        font-size: calc-em(36px);
        line-height: 48px;
    }

    &__h4 {
        font-size: calc-em(24px);
        line-height: 24px;
    }


}




// h2 {
//     line-height: 1.2;
// }

// h3 {
//     font-size: calc-em(36px);
//     line-height: calc-em(48px);
//     font-weight: 700;
// }

// h4 {
//     font-size: calc-em(24px);
// }

// h5 {
//     font-size: calc-em(18px);
// }


// links

a {
    text-decoration: none;
    color: $firstColor;
}


// color: $secondColor;
//     line-height: 27px;
//     font-weight: 700;

// uppercase

.upper {
    text-transform: uppercase;
}




// PART IV

// BACKGROUND & COLOR 

.color {
    &-primary {
        color: $firstColor;
    }

    &-secondary {
        color: $secondColor;
    }
}




// PART V

// SMALL COMPONENTS

// logo

// brand is not checked
.brand {
    height: 50px;
}

// &__logo {
//     font-size: calc-em(18px);
// }

.logo {
    font-size: calc-em(24px);

    &__small {
        font-size: calc-em(18px);

        &--span {
            font-size: calc-em(20px);
            @include span;
        }
    }

    &--span {
        font-size: calc-em(26px);
        @include span;
    }


}





// .logo-span {
//     color: $firstColor;
//     font-weight: 700;
//     font-size: calc-em(20px);

//     &-white {
//         color: $secondColor;
//     }

// }

// buttonów jest kilka - do wrzucenia w osobny plik

.btn {
    width: 180px;
    height: 50px;
    margin-left: 76px;
    line-height: 50px;
    text-align: center;
    background-color: $secondBgColor;
    box-shadow: $box-shadow;
    color: $thirdColor;
    border-radius: 5px;
    font-size: calc-em(14px);
}





// UWAGA!!!!!!!!!!!!!!

// WSZYSTKO PONIŻEJ DO SPRAWDZENIA!!!!!!!!!








ul {
    list-style: none;
}


.ordered-list {
    padding-inline-start: 40;
}