// STYLE RESET

body {
    @include body-reset;
    font-size: calc-em(16px);
    font-family: $primaryFont;
    line-height: calc-em(32px);
    color: $color-Fbody;
}

a {
    text-decoration: none;
    color: $color-Fbody;
}

.p-clear {
    all: unset;
}

ul {
    list-style: none;
}

h1 {

    width: 75%;
    margin: 0 auto;
    font-size: calc-em(48px);
    font-weight: 700;
    text-align: center;
    line-height: 1.2;

}

h2 {
    line-height: 1.2;
}

h3 {
    font-size: calc-em(36px);
    line-height: calc-em(48px);
    font-weight: 700;
}

h5 {
    font-size: calc-em(18px);
}

.ordered-list {
    padding-inline-start: 40;
}

// CONTAINERS

// .container {
//     display: block;
//     width: 100%;
//     max-width: 90%;
//     padding: 0 15px;
// }

.oval {
    padding-right: 20px;
}

.site-header {
    width: 100%;
    min-height: 200px;
}

.hamburger {
    display: none;
}

.wrapper {
    max-width: 1200px;
}

.container {
    display: block;
    max-width: $big-width;
    margin: 0 auto;
}

@media (max-width: 900px) {
    .container {
        max-width: none;
        width: 100%;
    }
}


// TAG STYLES

.btn {
    width: 180px;
    height: 50px;
    margin-left: 76px;
    line-height: 50px;
    text-align: center;
    background-color: $secBgColor;
    box-shadow: $box-shadow;
    color: $color-secondary;
    border-radius: 5px;
    font-size: calc-em(14px);
}

// <p>
.paragraph {
    font-size: calc-em(16px);
    line-height: calc-em(24px);

    &--size-l {
        font-size: calc-em(18px);
        line-height: 2;
    }

    &--size-s {
        font-size: calc-em(14px);

    }
}

strong {
    font-size: calc-em(18px);
}


.paragraph-title {
    font-size: calc-em(24px);
    font-weight: 700;
}



// COLOR CLASSES

.color {
    &-primary {
        color: $color-primary;
    }

    &-secondary {
        color: $color-secondary;
    }
}

// LOGO

.brand {
    height: 50px;
}

.logo-span {
    color: $color-primary;
    font-weight: 700;
    font-size: calc-em(20px);
}

// UPPERCASE

.upper {
    text-transform: uppercase;
}



.form {
    &__input-ico {
        height: 20px;
        width: 16px;
        line-height: 50px;
    }

    &__row {
        color: $color-third;
        position: relative;
        width: 350px;
        height: 50px;
        box-shadow: $box-shadow;
        border-radius: 5px;
        border: 2px solid #4044df;
        background-color: $primaryBgColor;
    }

    &__input {
        border-width: 0;
        line-height: 50px;
        position: absolute;
        top: 0%;
        left: 15%;
        padding: 0;

        &-ico {
            position: absolute;
            top: 10%;
            left: 0;
            line-height: 50px;
            padding-left: 18px;
            padding-top: 8px;
        }
    }
}

@media (max-width: 500px) {
    .form {
        &__row {
            width: 180px;
        }

        &__input {
            left: 25%;

            &-ico {
                padding-left: 20px;
                padding-top: 8px;
            }
        }
    }
}