// FONT FAMILY
$primaryFont: 'roboto',
sans-serif;


// FONT SIZING

$baseFontSize: 16px;
$baseLineHeight : 1.5;
$headingLineHeight : 1.2;

// COLORS

$color-primary: #4044df;
$color-secondary: #fff;
$color-third: #8d91bc;
$color-Fbody: #262626;

$primaryBgColor: #fff;
$secBgColor: #4044df;
$lightBgColor: #f5f5f9;

// BOX SHADOW

$box-shadow: 0 6px 12px rgba(64, 68, 223, 0.16);
// $box-shadow-white: 4px 4px 4px rgba(255, 255, 255, 1);


// WIDTH

$big-width: 90%;


// .list-100

// $list-100: 120px;