// Font Family
$primaryFont: 'roboto',
sans-serif;


// Font Sizing

$baseFontSize: 16px;
$baseLineHeight : 1.5;
$headingLineHeight : 1.2;

// Colors

$primaryFontColor: #262626;
$secFontColor: #4044df;
$lightFontColor: #fff;


$primaryBgColor: #fff;
$secBgColor: #4044df;